
<div class="ack">
    <ngb-carousel>
        <div *ngFor="let image of images">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    
                    <img class="image" [src]=image.imageurl alt="Random first slide">
                    
                </div>

            </ng-template>
        </div>
    </ngb-carousel>
    
<!-- <app-cards-item 
[(category)] = category 
[(selcategory_id)] = selcategory_id 
[(vendor_name)] = vendor_name
[(cart)] ="cart" 
[(searchquery)] = searchquery
[(lowerlimit)] = lowerlimit
[(upperlimit)] = upperlimit></app-cards-item> -->
</div>

