<footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <!-- <i class="fas fa-map-marker-alt"></i> -->
                            <div class="cta-text">
                                
                                <h4> <i class="material-icons place">place</i>Find us</h4>
                                <div class="left">
                                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                                        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2247.284667057914!2d12.465799915389534!3d55.71880490208174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x465251bdb028546f%3A0xd310325d5e67850c!2sKildeager%2C%20K%C3%B8benhavn!3m2!1d55.718801899999995!2d12.4679886!5e0!3m2!1sen!2sdk!4v1591489968910!5m2!1sen!2sdk"></iframe>
                                    </div>
                                 
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <!-- <i class="fas fa-phone"></i> -->
                            <div class="cta-text">
                                <h4><i class="material-icons call"> call</i> Call us</h4>
                                <span>+4542243039</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <!-- <i class="far fa-envelope-open"></i> -->
                            <div class="cta-text">
                                <h4> <i class="material-icons email"> email</i>Mail us</h4>
                                <span>bdelectronics@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                          
                            <div class="footer-text">
                                <h1> BD Electronics.</h1>
                            </div>
                           
                        </div>
                    </div>
                    
                  
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                   
                    
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>