



<div class="row">
    <div class="col-2" style="padding-right: 15px;" >
        <div id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
              <div class="sidebar-heading" (click)="selectedcategory(null)" >Categories</div>
              <ul id="accordion" class="accordion">
                <li *ngFor="let item of category; let i = index" [ngClass]="{'active':opendd==i}">
                  <div class="menu" (click)="selectedcategory(item);toggle(i)">
                     <i ></i>{{ item.category }}<i class="material-icons expand_more">expand_more</i>
                  </div>
                  <ul class="submenu" #submenu [style.height.px]="opendd==i ? submenu.scrollHeight : 0">
                    <li *ngFor="let brand of item.vendor">
                      <span (click)="getvendorproducts(brand)">{{ brand }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="range">
                <app-range   (minrange) = receivemin($event)  (maxrange) = receivemax($event) [(maxprice)] = maxprice ></app-range>
              </div>
            </div>
          </div>
    </div> 
    <div class="col-10 wrapper_card">
        <app-slider 
        [(category)] = selcategory 
       [(selcategory_id)] = selcategory_id 
       [(vendor_name)] = vendor_name
       [(cart)] ="cart"
       [(searchquery)] = searchquery
       [(lowerlimit)] = lowerlimit
       [(upperlimit)] =  upperlimit
       ></app-slider>
    </div> 
    
  </div>