@import "../../../../..//color.scss";

  .clearfix {
    content:"";
    display: table;
  }
  .shop-bg {
   
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: .8;
  }
  .pop-up {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 129px;
    position: relative;
    background: #fff;
    border-radius: 2px;
  }
  /*GALLERY*/
  .pics {
    float: left;
    width:100%;
    margin-right: 0px;
  }
  .pics span {
    display: block;
  }
  .main-img img{
    display: block;
    border: 1.5px solid #ddd;
    border-radius: 8px;
    padding: 4px 4px;
    width: 100%;
    margin-bottom: 18px;
    cursor: pointer;
    cursor: pointer;
    max-height: 25vw;
  }
  .additional-img img {
    float: left; /*display: inline-block has  automatic margin right and bottom :( */
    width: 98px;
    height: 45px;
    padding: 1px 1px;
    border: .5px solid #ddd;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
  }
  .additional-img img:nth-child(4) {
    margin-right: 0;
  }
  .main-img img:hover,
  .additional-img img:hover {
    box-shadow: 0 0 6px #ddd;
  }
  /*PRODUCT INFORMATION*/
  // .product {
  //   float: right;
  //   width:100%;
  // }

  span.category {
    display: block;
    font-weight: 700;
    color: #888;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
  }
  .product .category:hover {
    color: #999;
    cursor: pointer;
  }
  .product h1 {
    width: 300px;
    font-size: 21px;
    line-height: 24px;
    margin-top: 5px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: .3px;
  }
  /*STOCK LABEL*/
  span.stock {
    position: relative;
    top: 4px;
    line-height: 11px;
    padding: 6px 12px 5px 12px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: #18d11f;
    border-radius: 14px;
    letter-spacing: .3px;
  }
  span.stockout {
    position: relative;
    top: 4px;
    line-height: 11px;
    padding: 6px 12px 5px 12px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: red;
    border-radius: 14px;
    letter-spacing: .3px;
  }
  /*PRICE & RATING*/
  .block-price-rating {
    width: 100%;
    margin-top: 10px;
  }
  .block-price {
    float: left;
    width: auto;
    margin-right: 20px;
  }
  .price-new {
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
  .price-new-dollar {
    float: left;
    display: block;
    font-size: 24px;
    margin-right: 5px;
    color: #333;
  }
  .price-new-cent {
    font-size: 14px;
  }
  .price-old {
    text-decoration: line-through;
    color: #444;
    font-size: 14px;
    position: relative;
    top: 6px;
  }
  /*rating*/
  .block-rating {
    float: right;
    position: relative;
    top: 2px;
  }
  span.rating img {
    display: block;
    float: left;
    width: 110px;
    margin-left: 10px;
  }
  span.rating img:hover {
    cursor: pointer;
  }
  /*review*/
  span.review {
    display: block;
    float: left;
    position: relative;
    top: 6px;
    font-weight: 700;
    color: #888;
    font-size: 12px;
    font-style: italic;
  }
  span.review:hover {
    color: #999;
    cursor: pointer;
  }
  /*PRODUCT DESCRIPTION*/
  .descr_heading { 
    font-size: 14px;
    line-height: 18px;
    color: #444;
    letter-spacing: .3px;
    margin-top: 10px;
    width: 100%;     
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: no-wrap;
    padding: 2vw 0vw 0vw 0vw;
    
  }
  .descr { 
    font-size: 14px;
    line-height: 18px;
    color: #444;
    letter-spacing: .3px;
    margin-top: 10px;
    // width: 430px;
    // height: 71px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: no-wrap;
    
  }
  /*SELECT BLOCK*/
  .block-select {
    margin-top: 15px;
  }
  .select-color,
  .select-size,
  .select-quantity {
    float: left;
    font-size: 14px;
    font-weight: 700;
    color: #888;
  }
  .select-color span,
  .select-quantity span,
  .select-size span {
    display: block;
    margin-bottom: 2px;
    margin-top: 8px;
  }
  
  select.quantity {
    width: 320px;
    margin-right: 10px;
  }
  select.color {
    width: 320px;
    margin-right: 10px;
  }
  select.size {
    width: 320px;
  }

  select.quantity,select.color, select.size {
    padding: 8px 10px;
    border: .5px solid #ddd;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: .7;
    letter-spacing: .3px;
  }
  /*BUTTON*/
  .btn_div{
    width: 100%;
    margin-top:2vw; 
    padding-bottom: 5vw;
    position: relative;
     
   
  }
  .tx-tfm {
    font-family: "Regular", "Segoe UI", Helvetica Neue, Helvetica, sans-serif;
    color: #fe4066;
  }
  .mybtn {
    border-radius: 20px;  
    border: 2px solid #fe4066;
    background: rgba(255, 255, 255, 0.3);
    float: left;
    color: #fe4066;
    &:hover {
      background: #fe4066;
      color: white;
      border-color: transparent;
    }
  }
  /*LINKS*/
  .block-footer {
    width: 100%;
    margin-top: 10px;
  }
  .block-links {
    float: left;
    cursor: pointer;
  }
  .block-links img {
    width: 20px;
    opacity: .3;
    vertical-align: middle;
    margin-right: 5px;
  }
  .block-links span {
    font-size: 11px;
    color: #888;
    font-weight: 700;
    letter-spacing: .3px;
    text-transform: uppercase;
    font-style: italic;
  }
  .block-links span:hover {
    color: #999;
  }
  .wishlist {
    margin-top: 5px;
  }
  /*SOCIAL*/
  .social {
    float: right;
    position: relative;
    top: 5px;
  }
  .social img {
    width: 36px;  
    opacity: .3;
    cursor: pointer;
    margin-right: 3px;
    display: inline;
  }
  .social img:nth-child(4) {
    margin-right: 0;
  }
  .social img:hover {
    opacity: .2;
  }

  
.badge {
  // top: 0px;
  // left: 75%;
  // font-size: 14px;
  /* line-height: 13px; */
  // border-radius: 50%;
  // width: 20px;
  // height: 20px;
  background-color: #fe4066;
  /* border: 4px solid black; */
  // color: #ffffff;
}

.badgeicn { 
  position: relative;
  top: -2vw;
  color: white;
  /* right: 16.25vw; */
  z-index: 0;
  padding: 1vw 0.2vw 1vw;
  margin: 0vw 0vw 0vw 8.5vw;
  font-size: 15px;
  text-align: center;
  mat-icon {
    font-size: 60px;
    position: absolute;
    top: 0vw;
    right: 1.25vw;
    color: red;
    z-index: -1;
  }
}
